.class_11{
    color: #01462cee;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    height: 5vh;
    width: 20vw;
    background-color:#5FB5B7;
    margin-top: 10vh;
    margin-left: 6vw;
    margin-right: 8vw;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    overflow: auto;
}

.phy_11_h{
    color: #01462cee;
    font-family: 'Poppins', sans-serif;
    margin-left: 15%;
    margin-top: 4%;
    margin-bottom: 1%;
    font-size: 19px;
}

.physics_11{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.phy_11_card_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.phy_11_card{
    background-color: #77c777;
    width: 300px;
    height: 500px;
    margin: 8px;
    text-align: center;
    border-radius: 25px;
}

.phy_11_card_image{
    background-color: white;
    margin: 10px;
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px;
    overflow: auto;
}

.pbook-11-1{
    background-image: url('https://quizizz.com/media/resource/gs/quizizz-media/quizzes/efb574f4-93bd-4073-ac89-2dbfa3621cce?w=90&h=90');
}

.pbook-11-2{
    background-image: url('');
}

.pbook-11-3{
    background-image: url('');
}

.pbook-11-4{
    background-image: url('');
}

.phy_11_card h2{
    padding: 10px;
}

.phy_11_card p{
    padding: 10px;
}

.phy_11_card a{
    background-color: #548654;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}

.see_all{
    background-color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    height: 2vh;
    border-radius: 25px;
}

.phy_11_card:hover{
    background-color: #539b53;
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

.chm_11_h{
    color: #01462cee;
    font-family: 'Poppins', sans-serif;
    margin-left: 15%;
    margin-top: 4%;
    margin-bottom: 1%;
    font-size: 19px;
}

.chemistry_11{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.chm_11_card_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.chm_11_card{
    background-color: #dfdf6b;
    width: 300px;
    height: 500px;
    margin: 8px;
    text-align: center;
    border-radius: 25px;
}

.chm_11_card_image{
    background-color: white;
    margin: 10px;
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px;
    overflow: auto;
}

.cbook-11-1{
    background-image: url('https://www.sigmaaldrich.com/deepweb/assets/sigmaaldrich/marketing/global/images/applications/materials-science-and-engineering-/abx3-crystal-structure/abx3-crystal-structure.jpg');
}

.cbook-11-2{
    background-image: url('');
}

.cbook-11-3{
    background-image: url('');
}

.cbook-11-4{
    background-image: url('');
}

.chm_11_card h2{
    padding: 10px;
}

.chm_11_card p{
    padding: 10px;
}

.chm_11_card a{
    background-color: #9b9b34;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}

.chm_11_card:hover{
    background-color: #b9b92d;
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

.mth_11_h{
    color: #01462cee;
    font-family: 'Poppins', sans-serif;
    margin-left: 15%;
    margin-top: 4%;
    margin-bottom: 1%;
    font-size: 19px;
}

.maths_11{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.mth_11_card_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mth_11_card{
    background-color: #59a1db;
    width: 300px;
    height: 500px;
    margin: 8px;
    text-align: center;
    border-radius: 25px;
}

.mth_11_card_image{
    background-color: white;
    margin: 10px;
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px;
    overflow: auto;
}

.mbook-11-1{
    background-image: url('');
}

.mbook-11-2{
    background-image: url('');
}

.mbook-11-3{
    background-image: url('');
}

.mbook-11-4{
    background-image: url('');
}

.mth_11_card h2{
    padding: 10px;
}

.mth_11_card p{
    padding: 10px;
}

.mth_11_card a{
    background-color: #2f6b9c;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}

.mth_11_card:hover{
    background-color: #2679bd;
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

.bio_11_h{
    color: #01462cee;
    font-family: 'Poppins', sans-serif;
    margin-left: 15%;
    margin-top: 4%;
    margin-bottom: 1%;
    font-size: 19px;
}

.biology_11{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.bio_11_card_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bio_11_card{
    background-color: #e47d7d;
    width: 300px;
    height: 500px;
    margin: 8px;
    text-align: center;
    border-radius: 25px;
}

.bio_11_card_image{
    background-color: white;
    margin: 10px;
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px;
    overflow: auto;
}

.bbook-11-1{
    background-image: url('');
}

.bbook-11-2{
    background-image: url('');
}

.bbook-11-3{
    background-image: url('');
}

.bbook-11-4{
    background-image: url('');
}

.bio_11_card h2{
    padding: 10px;
}

.bio_11_card p{
    padding: 10px;
}

.bio_11_card a{
    background-color: #ac3131;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}

.bio_11_card:hover{
    background-color: #df5353;
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

.class_12{
    color: #01462cee;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    height: 5vh;
    width: 20vw;
    background-color:#5FB5B7;
    margin-top: 10vh;
    margin-left: 6vw;
    margin-right: 8vw;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    overflow: auto;
}

.phy_12_h{
    color: #01462cee;
    font-family: 'Poppins', sans-serif;
    margin-left: 15%;
    margin-top: 4%;
    margin-bottom: 1%;
    font-size: 19px;
}

.physics_12{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.phy_12_card_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.phy_12_card{
    background-color: #77c777;
    width: 300px;
    height: 500px;
    margin: 8px;
    text-align: center;
    border-radius: 25px;
}

.phy_12_card_image{
    background-color: white;
    margin: 10px;
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px;
    overflow: auto;
}

.pbook-12-1{
    background-image: url('');
}

.pbook-12-2{
    background-image: url('');
}

.pbook-12-3{
    background-image: url('');
}

.pbook-12-4{
    background-image: url('');
}

.phy_11_card h2{
    padding: 10px;
}

.phy_12_card p{
    padding: 10px;
}

.phy_12_card a{
    background-color: #548654;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}

.phy_12_card:hover{
    background-color: #539b53;
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

.chm_12_h{
    color: #01462cee;
    font-family: 'Poppins', sans-serif;
    margin-left: 15%;
    margin-top: 4%;
    margin-bottom: 1%;
    font-size: 19px;
}

.chemistry_12{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.chm_12_card_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.chm_12_card{
    background-color: #dfdf6b;
    width: 300px;
    height: 500px;
    margin: 8px;
    text-align: center;
    border-radius: 25px;
}

.chm_12_card_image{
    background-color: white;
    margin: 10px;
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px;
    overflow: auto;
}

.cbook-12-1{
    background-image: url('')
}

.cbook-12-2{
    background-image: url('');
}

.cbook-12-3{
    background-image: url('');
}

.cbook-12-4{
    background-image: url('');
}

.chm_12_card h2{
    padding: 10px;
}

.chm_12_card p{
    padding: 10px;
}

.chm_12_card a{
    background-color: #9b9b34;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}

.chm_12_card:hover{
    background-color: #b9b92d;
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

.mth_12_h{
    color: #01462cee;
    font-family: 'Poppins', sans-serif;
    margin-left: 15%;
    margin-top: 4%;
    margin-bottom: 1%;
    font-size: 19px;
}

.maths_12{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.mth_12_card_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mth_12_card{
    background-color: #59a1db;
    width: 300px;
    height: 500px;
    margin: 8px;
    text-align: center;
    border-radius: 25px;
}

.mth_12_card_image{
    background-color: white;
    margin: 10px;
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px;
    overflow: auto;
}

.mbook-12-1{
    background-image: url('');
}

.mbook-12-2{
    background-image: url('');
}

.mbook-12-3{
    background-image: url('');
}

.mbook-12-4{
    background-image: url('');
}

.mth_12_card h2{
    padding: 10px;
}

.mth_12_card p{
    padding: 10px;
}

.mth_12_card a{
    background-color: #2f6b9c;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}

.mth_12_card:hover{
    background-color: #2679bd;
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

.bio_12_h{
    color: #01462cee;
    font-family: 'Poppins', sans-serif;
    margin-left: 15%;
    margin-top: 4%;
    margin-bottom: 1%;
    font-size: 19px;
}

.biology_12{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.bio_12_card_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bio_12_card{
    background-color: #e47d7d;
    width: 300px;
    height: 500px;
    margin: 8px;
    text-align: center;
    border-radius: 25px;
}

.bio_12_card_image{
    background-color: white;
    margin: 10px;
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px;
    overflow: auto;
}

.bbook-12-1{
    background-image: url('');
}

.bbook-12-2{
    background-image: url('');
}

.bbook-12-3{
    background-image: url('');
}

.bbook-12-4{
    background-image: url('');
}

.bio_12_card h2{
    padding: 10px;
}

.bio_12_card p{
    padding: 10px;
}

.bio_12_card a{
    background-color: #ac3131;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}

.bio_12_card:hover{
    background-color: #df5353;
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}