@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins',sans-serif;
}

body{
   background-color: #B9E8E9;
}
nav{
   display: flex;
   width: 100%;
   background:  #5FB5B7;
   position: fixed;
   top:0;
   justify-content: space-between;
   text-align: center;
   padding: 0px 30px;
   z-index: 10;
   box-shadow: 0 3px 15px rgba(0,0,0,.4);
}
nav .icon{
   cursor: pointer;
}
nav ol{
   display: flex;
   list-style: none;
   margin: auto 0;
}
nav ol li{
   margin: 0 4px;
}
nav ol li a{
   color: #fff;
   font-size: 20px;
   text-decoration: none;
   text-transform: capitalize;
   letter-spacing: 1px;
   padding: 5px 10px;
}
nav ol li:hover a{
   background: #fff;
   color: #0a5071;
   text-decoration: none;
}
nav .search_box{
   display: flex;
   margin: auto 0;
   height: 35px;
   line-height: 40px;
}

nav .search_box input{
   border: none;
   outline: none;
   background: #fff;
   height: 100%;
   padding: 0 10px;
   font-size: 20px;
   width: 400px;
   border-radius: 3px 0px 0px 3px;
}
nav .search_box span{
   color: #0a5071;
   font-size: 20px;
   background: #fff;
   height: 100%;
   padding: 8px;
   position: relative;
   cursor: pointer;
   z-index: 1;
   border-radius: 0px 3px 3px 0px;
}
nav .search_box span:hover{
   color: #fff;
}
nav .search_box span::after{
   height: 100%;
   width: 0%;
   content: '';
   background: #ff003c;
   position: absolute;
   top: 0;
   right: 0;
   z-index: -1;
   transition: 0.3s;
}
nav .search_box span:hover::after{
   width: 100%;
}
nav .bar{
   position: relative;
   margin: auto;
   display: none;
}
nav .bar span{
   position: absolute;
   color: #fff;
   font-size: 35px;
}
input[type="checkbox"]{
   -webkit-appearance: none;
   display: none;
}
@media screen and (max-width: 1200px){
   nav{
      display: block;
      padding: 0;
   }
   nav .icon{
      display: inline-block;
      padding: 15px 30px;
   }
   nav .search_box{
      width: 100%;
      display: inline-flex;
      justify-content: center;
      margin-bottom: 15px;
   }
   nav .search_box input{
      width: 90%;
   }
   nav ol{
      display: flex;
      flex-direction: column;
      background: #fff;
      height: 0;
      visibility: hidden;
      transition: 0.3s;
   }
   nav ol li{
      text-align: center;
      transition: 0.1s 0.1s all;
      opacity: 0;
   }
   nav ol li a{
      color: #000;
      font-size: 28px;
      padding: 25px;
      display: block;
   }
   nav ol li:nth-child(1){
      transform: translateX(-150px);
   }
   nav ol li:nth-child(2){
      transform: translateX(-200px);
   }
   nav ol li:nth-child(3){
      transform: translateX(-250px);
   }
   nav ol li:nth-child(4){
      transform: translateX(-300px);
   }
   nav ol li:nth-child(5){
      transform: translateX(-350px);
   }
   nav .bar{
      display: block;
      position: absolute;
      top: 20px;
      right: 80px;
      cursor: pointer;
   }
   nav .bar #times{
      display: none;
   }
   #check:checked ~ nav .bar #times{
      display: block;
   }
   #check:checked ~ nav .bar #bars{
      display: none;
   }
   #check:checked ~ nav ol{
      visibility: visible;
      height: 465px;
   }
   #check:checked ~ nav ol li:nth-child(1),
   #check:checked ~ nav ol li:nth-child(2),
   #check:checked ~ nav ol li:nth-child(3),
   #check:checked ~ nav ol li:nth-child(4),
   #check:checked ~ nav ol li:nth-child(5){
      transform: translateX(0);
      opacity: 1;
   }

   .menu{
      line-height: 0px;
      padding: 0px 50px;
   }
} 

/* advertisement */
.advertisement{
  height: 70vh;
  width:86vw;
  background-color:#5FB5B7;
  margin-top: 20vh;
  margin-left: 8vw;
  margin-right: 7vw;
  border-radius: 30px;
}

.carousel-item img{
   width: 60vw;
   height: 60vh;

}

/* courses */

.courses{
   margin: 60px 30px;
   position: relative;
}

.announce{
   padding:20px 10px;
}

.card{
   width: 15rem;
   border-radius: 10px;
   display:inline-flex;
  margin:20px;
  justify-content: space-evenly;
  box-shadow: 0 3px 15px rgba(0,0,0,.4);
}
.card:hover {
   height: 420px;
   margin-top: -20px;
}

/* footer */

.footer{
   
   padding-top: 20px;
   background-color:#5FB5B7;
}

.focol{
   display:flex;
   justify-content:space-between;
   flex-wrap: wrap;
}
.bar{
   display:flex;
   flex-wrap: wrap;
}
.menu{
   display: block;
   font-size: inherit;
   font-weight: 400;
   line-height: 30px; padding: 50px;
   list-style-type: none;
}

.details{
   color:white;
}
.details:hover{
   color:black;
   text-decoration:underline;
}

.co{
   padding: 70px;
}
.fo{
   padding: 0px 20px;
}
.logo{
   display: flex;
   justify-content: space-between;
}
